
:root {
  --color-bg-light: #f0f0f0;
  --color-bg-dark: #121212;

  --color-text-light: #111;
  --color-text-dark: #e5e5e5;

  --color-primary: #037ae3;

  --color-btn-text: #fff;
  --color-btn-bg: var(--color-primary);
  --color-btn-bg-hover: #0456d0;

  --transition-base: 0.4s ease;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color var(--transition-base), color var(--transition-base);

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.light {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

body.dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container__title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

.container__btn {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color var(--transition-base), transform 0.1s ease;
}

    
.container__btn:hover {
  background-color: var(--color-btn-bg-hover);
}

.container__btn:active {
  transform: scale(0.97);
}