
:root {
--space-unit: 0.25rem;

--font-base: clamp(1rem, 0.5rem + 1vw, 1.5rem);

  --h: 210;
  --s: 70%;

  --primary: hsl(var(--h), var(--s), 50%);
  --primary-light: hsl(var(--h), var(--s), 98%);
  --primary-dark: hsl(var(--h), 8%, 30%);
  --surface: hsl(var(--h), var(--s), 94%);

  --accent-h: 230;
  --accent: hsl(var(--accent-h), 8%, 50%);
  --on-accent: hsl(var(--accent-h), 8%, 98%);
  --box-shadow: hsla(var(--h), var(--s), 15%, 0.5);


  --text-1: var(--font-base);
  --text-2: calc(var(--font-base) * 1.5);
  --text-3: calc(var(--font-base) * 2);
  --text-4: calc(var(--font-base) * 2.5);

  --space-1: var(var(--space-unit));
  --space-2: calc(var(--space-unit) * 2);
  --space-3: calc(var(--space-unit) * 3);
  --space-4: calc(var(--space-unit) * 4);


  /* Tokens */
  --main-bg: var(--primary-light);
  --surface-bg: var(--surface);

  --text-color-primary: var(--primary);
  --text-color-dark: var(--primary-dark);

  --text-sm: var(--text-1);
  --text-base: var(--text-2);
  --text-md: var(--text-3);
  --text-lg: var(--text-4);

  --space-xs: var(--space-1);
  --space-sm: var(--space-2);
  --space-md: var(--space-3);
  --space-lg: var(--space-4);


  --shadow: var(--box-shadow);

  --container-radius: 0.5rem;
  --btn-radius: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-base);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-bg);
  font-size: var(--text-base);
  padding: var(--space-lg);
}

.container__content {
  padding: var(--space-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  color: var(--text-color-dark);
  background-color: var(--surface-bg);
  border-radius: var(--container-radius);
  box-shadow: 0 2px 4px -1px var(--shadow);
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 20px -5px var(--shadow);
  }
}

.container__title {
  font-size: var(--text-md);
  color: var(--text-color-primary);
  flex: 1 1 0;
}

.container__counter-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.container__btn-inc {
  width: 100%;
  padding: var(--space-xs) var(--space-sm);;
  background-color: var(--primary);
  color: var(--primary-light);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  transition: transform 0.1s ease-out;

  flex: 1 1 0;
  
  &:active {
    transform: translateY(2px);
  }

}

.container__btn-dec {
  width: 100%;
  padding: var(--space-xs) var(--space-sm);
  background-color: var(--primary);
  color: var(--primary-light);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  transition: transform 0.1s ease-out;

  flex: 1 1 0;
  
  &:active {
    transform: translateY(2px);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.container__current-value {
  font-size: 2rem;
  width: 6rem;
  text-align: center;
}

.container__btn {
  border-bottom-right-radius: var(--btn-radius);
  border-bottom-left-radius: var(--btn-radius);
}